In [46]:
# Regression Assignment:  

#Step1: Read census Dataset to predict using Nueral networks - KerasRegressor
# importing required libraries

import csv
import numpy as np
import pandas as pd

#sklearn
# Regression Example With census Dataset: Baseline
from pandas import read_csv
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [47]:
# read the census dataset
# load dataset
census_data = pd.read_csv('CensusStatusSC01.csv') 

# shape of the datasets
print('Shape of census data :',census_data.shape)

Shape of census data : (27, 20)

In [48]:
#data1.head()
census_data.head()

,SNo,State,District,Persons,Males,Females,Growth_1991_2001,Scheduled_Caste_population,Percentage_SC_to_total,Total_Educated,Graduate_and_Above,Total_workers,Non_Workers,Percentage_Non_Workers,Number_of_households,Scheduled_Tribe_population,Percentage_to_total_population_ST,Urbal_Area,Economical_Status,Below_Poverty_Line_Status
0,1,Telangana,"District Karimnagar (03), Andhra Pradesh (28)",3491822,1747968,1743854,14.47,615219,17.62,1661089,81001,1711559,1780263,50.98,813797,90636,2.60,0,1,1
1,2,Telangana,"District Hyderabad (05), Andhra Pradesh (28)",3829753,1981173,1848580,17.18,289972,7.57,2634949,466744,1119842,2709911,70.76,695906,34560,0.90,1,0,0
2,3,Telangana,"District Warangal (09), Andhra Pradesh (28)",3246004,1644895,1601109,14.63,520024,16.02,1595745,99917,1566237,1679767,51.75,729110,457679,14.10,1,1,1
3,4,Andhra,"District Guntur (17), Andhra Pradesh (28)",4465144,2250279,2214865,7.27,808012,18.10,2455965,175832,2190299,2274845,50.95,1077303,208157,4.66,1,1,0
4,5,Andhra,"District Anantapur (22), Andhra Pradesh (28)",3640478,1859588,1780890,14.31,508531,13.97,1774088,102827,1777536,1862942,51.17,779052,127161,3.49,0,1,1

In [49]:
#Get summary of numerical fields by using describe() function
census_data.describe()

,SNo,Persons,Males,Females,Growth_1991_2001,Scheduled_Caste_population,Percentage_SC_to_total,Total_Educated,Graduate_and_Above,Total_workers,Non_Workers,Percentage_Non_Workers,Number_of_households,Scheduled_Tribe_population,Percentage_to_total_population_ST,Urbal_Area,Economical_Status,Below_Poverty_Line_Status
count,27.000000,2.700000e+01,2.700000e+01,2.700000e+01,27.000000,27.000000,27.000000,2.700000e+01,27.000000,2.700000e+01,2.700000e+01,27.000000,2.700000e+01,27.000000,27.000000,27.000000,27.000000,27.000000
mean,14.037037,1.877969e+06,9.712566e+05,9.067124e+05,23.908519,255860.555556,12.103333,1.022429e+06,83623.740741,7.581025e+05,1.119867e+06,59.300370,3.739597e+05,130734.000000,12.907037,0.444444,0.740741,0.703704
std,7.992696,1.349198e+06,6.906668e+05,6.599993e+05,11.979020,233844.455645,6.908223,7.763432e+05,104420.595498,6.055811e+05,7.906778e+05,7.080037,2.915641e+05,185641.963723,20.045902,0.506370,0.446576,0.465322
min,1.000000,3.892400e+04,2.184600e+04,1.707800e+04,7.270000,66.000000,0.010000,1.533700e+04,785.000000,2.172700e+04,1.719700e+04,44.180000,8.294000e+03,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.500000,7.044830e+05,3.649025e+05,3.395805e+05,15.980000,59724.500000,6.660000,3.118730e+05,13328.000000,2.937270e+05,4.444185e+05,52.880000,1.414785e+05,8714.500000,0.860000,0.000000,0.500000,0.000000
50%,14.000000,1.583225e+06,8.151520e+05,7.680730e+05,22.350000,202654.000000,12.840000,8.838600e+05,48484.000000,6.055990e+05,9.776260e+05,61.090000,3.031070e+05,51753.000000,3.490000,0.000000,1.000000,1.000000
75%,20.500000,2.970164e+06,1.586264e+06,1.399988e+06,28.290000,404989.500000,17.860000,1.628417e+06,101372.000000,1.078470e+06,1.821602e+06,63.820000,5.974890e+05,181563.000000,14.725000,1.000000,1.000000,1.000000
max,27.000000,4.465144e+06,2.250279e+06,2.214865e+06,60.120000,808012.000000,22.550000,2.634949e+06,466744.000000,2.190299e+06,2.709911e+06,71.780000,1.077303e+06,859574.000000,74.990000,1.000000,1.000000,1.000000

In [50]:
# 2. Data preprocessing /Data Cleasing: 

#1. Check missing values in the dataset:

census_data.apply(lambda x: sum(x.isnull()),axis=0)

SNo                                  0
State                                0
District                             0
Persons                              0
Males                                0
Females                              0
Growth_1991_2001                     0
Scheduled_Caste_population           0
Percentage_SC_to_total               0
Total_Educated                       0
Graduate_and_Above                   0
Total_workers                        0
Non_Workers                          0
Percentage_Non_Workers               0
Number_of_households                 0
Scheduled_Tribe_population           0
Percentage_to_total_population_ST    0
Urbal_Area                           0
Economical_Status                    0
Below_Poverty_Line_Status            0
dtype: int64

In [51]:
# Eliminate unused columns and use only required - dataframe 

df = pd.DataFrame(census_data)

print(df)

    SNo             State                                       District  \
0     1         Telangana  District Karimnagar (03), Andhra Pradesh (28)
1     2         Telangana   District Hyderabad (05), Andhra Pradesh (28)
2     3         Telangana    District Warangal (09), Andhra Pradesh (28)
3     4            Andhra      District Guntur (17), Andhra Pradesh (28)
4     5            Andhra   District Anantapur (22), Andhra Pradesh (28)
5     6  ArunachalPradesh   District Tawang (01), Arunachal Pradesh (12)
6     7             Assam            District Kokrajhar (01), Assam (18)
7     8             Bihar   District Pashchim Champaran (01), Bihar (10)
8     9                CG      District Koriya * (01), Chhattisgarh (22)
9    10        Chandigarh      District Chandigarh (01), Chandigarh (04)
10   11             Delhi                            District North West
11   12               Goa                             District North Goa
12   13           Gujarat            District Kachchh (01), Gujarat (24)
13   14           Haryana        District Panchkula * (01), Haryana (06)
14   15                HP    District Chamba (01), Himachal Pradesh (02)
15   16         Jharkhand         District Garhwa * (01), Jharkhand (20)
16   17                JK    District Kupwara (01), Jammu & Kashmir (01)
17   18         Karnataka          District Belgaum (01), Karnataka (29)
18   19            Kerala           District Kasaragod (01), Kerala (32)
19   20       Maharashtra    District Nandurbar * (01), Maharashtra (27)
20   21                MP   District Sheopur * (01), Madhya Pradesh (23)
21   22            Punjab           District Gurdaspur (01), Punjab (03)
22   23         Rajasthan       District Ganganagar (01), Rajasthan (08)
23   24                TN     District Thiruvallur (01), Tamil Nadu (33)
24   26                UP   District Saharanpur (01), Uttar Pradesh (09)
25   26        Uttranchal     District Uttarkashi (01), Uttaranchal (05)
26   27                WB                             District Darjiling

    Persons    Males  Females  Growth_1991_2001  Scheduled_Caste_population  \
0   3491822  1747968  1743854             14.47                      615219
1   3829753  1981173  1848580             17.18                      289972
2   3246004  1644895  1601109             14.63                      520024
3   4465144  2250279  2214865              7.27                      808012
4   3640478  1859588  1780890             14.31                      508531
5     38924    21846    17078             22.69                         101
6    905764   466191   439573             15.05                       23018
7   3043466  1600839  1442627             30.40                      380930
8    586327   301251   285076             16.91                       39229
9    900635   506938   393697             40.33                      125145
10  2860869  1571689  1289180             60.12                      367454
11   758573   388502   370071             13.93                       16243
12  1583225   815152   768073             20.90                      164000
13   468411   256939   211472             51.16                       59428
14   460887   235218   225669             17.09                       60021
15  1035464   535332   500132             29.05                      203434
16   650393   341303   309090             38.59                          66
17  4214505  2150090  2064415             17.40                      279425
18  1204078   588083   615995             12.30                       63717
19  1311709   663511   648198             23.21                       38365
20   559495   295297   264198             29.72                       82767
21  2104011  1113077   990934             19.33                      406537
22  1789423   955378   834045             27.53                      403442
23  2754756  1397407  1357349             22.35                      576592
24  2896863  1553322  1343541             23.35                      612796
25   295013   152016   142997             22.72                       61113
26  1609172   830644   778528             23.54                      202654

    Percentage_SC_to_total  Total_Educated  Graduate_and_Above  Total_workers  \
0                    17.62         1661089               81001        1711559
1                     7.57         2634949              466744        1119842
2                    16.02         1595745               99917        1566237
3                    18.10         2455965              175832        2190299
4                    13.97         1774088              102827        1777536
5                     0.26           15337                 785          21727
6                     2.54          383541               11591         334849
7                    12.52          932347               39728        1154038
8                     6.69          306668               14373         279826
9                    13.90          643245              138441         340422
10                   12.84         1957902              329431         919439
11                    2.14          566668               56876         307628
12                   10.36          794483               32699         605599
13                   12.69          297795               48484         178644
14                   13.02          246169                8997         230452
15                   19.65          317078               10916         402921
16                    0.01          232557                9893         212501
17                    6.63         2305279              126507        1877774
18                    5.29          883860               30391         417845
19                    2.92          603221               28499         610033
20                   14.79          207536                7261         229277
21                   19.32         1345447               69513         700557
22                   22.55          965445               46110         719792
23                   20.93         1865707              147823        1037097
24                   21.15         1444013               89275         817528
25                   20.72          161161               12283         135904
26                   12.59         1008288               71644         569442

    Non_Workers  Percentage_Non_Workers  Number_of_households  \
0       1780263                   50.98                813797
1       2709911                   70.76                695906
2       1679767                   51.75                729110
3       2274845                   50.95               1077303
4       1862942                   51.17                779052
5         17197                   44.18                  8294
6        570915                   63.03                168619
7       1889428                   62.08                522728
8        306501                   52.27                118828
9        560213                   62.20                206465
10      1941430                   67.86                561945
11       450945                   59.45                164129
12       977626                   61.75                320588
13       289767                   61.86                 92593
14       230435                   50.00                 87029
15       632543                   61.09                174264
16       437892                   67.33                 87052
17      2336731                   55.44                789164
18       786233                   65.30                225252
19       701676                   53.49                245421
20       330218                   59.02                 96898
21      1403454                   66.70                366025
22      1069631                   59.78                303107
23      1717659                   62.35                633033
24      2079335                   71.78                456015
25       159109                   53.93                 55558
26      1039730                   64.61                318737

    Scheduled_Tribe_population  Percentage_to_total_population_ST  Urbal_Area  \
0                        90636                               2.60           0
1                        34560                               0.90           1
2                       457679                              14.10           1
3                       208157                               4.66           1
4                       127161                               3.49           0
5                        29191                              74.99           1
6                       304985                              33.67           0
7                        44912                               1.48           0
8                       260040                              44.35           0
9                            0                               0.00           0
10                           0                               0.00           1
11                         281                               0.04           1
12                      130138                               8.22           1
13                           0                               0.00           0
14                      117569                              25.51           0
15                      158959                              15.35           0
16                       51753                               7.96           0
17                      243451                               5.78           0
18                       30338                               2.52           1
19                      859574                              65.53           0
20                      120482                              21.53           1
21                           0                               0.00           0
22                       14744                               0.82           0
23                       37858                               1.37           0
24                         498                               0.02           1
25                        2685                               0.91           1
26                      204167                              12.69           1

    Economical_Status  Below_Poverty_Line_Status
0                   1                          1
1                   0                          0
2                   1                          1
3                   1                          0
4                   1                          1
5                   1                          1
6                   1                          1
7                   1                          1
8                   1                          1
9                   0                          0
10                  0                          0
11                  0                          0
12                  0                          0
13                  1                          1
14                  1                          1
15                  1                          1
16                  1                          1
17                  1                          1
18                  1                          1
19                  1                          1
20                  1                          1
21                  0                          0
22                  1                          1
23                  1                          1
24                  1                          1
25                  0                          0
26                  1                          1

In [52]:
#2. Eliminate unused columns and use only required in the data frame 
df = df.drop(columns=['SNo','State','District','Males', 'Females'],axis=0)
print(df)

    Persons  Growth_1991_2001  Scheduled_Caste_population  \
0   3491822             14.47                      615219
1   3829753             17.18                      289972
2   3246004             14.63                      520024
3   4465144              7.27                      808012
4   3640478             14.31                      508531
5     38924             22.69                         101
6    905764             15.05                       23018
7   3043466             30.40                      380930
8    586327             16.91                       39229
9    900635             40.33                      125145
10  2860869             60.12                      367454
11   758573             13.93                       16243
12  1583225             20.90                      164000
13   468411             51.16                       59428
14   460887             17.09                       60021
15  1035464             29.05                      203434
16   650393             38.59                          66
17  4214505             17.40                      279425
18  1204078             12.30                       63717
19  1311709             23.21                       38365
20   559495             29.72                       82767
21  2104011             19.33                      406537
22  1789423             27.53                      403442
23  2754756             22.35                      576592
24  2896863             23.35                      612796
25   295013             22.72                       61113
26  1609172             23.54                      202654

    Percentage_SC_to_total  Total_Educated  Graduate_and_Above  Total_workers  \
0                    17.62         1661089               81001        1711559
1                     7.57         2634949              466744        1119842
2                    16.02         1595745               99917        1566237
3                    18.10         2455965              175832        2190299
4                    13.97         1774088              102827        1777536
5                     0.26           15337                 785          21727
6                     2.54          383541               11591         334849
7                    12.52          932347               39728        1154038
8                     6.69          306668               14373         279826
9                    13.90          643245              138441         340422
10                   12.84         1957902              329431         919439
11                    2.14          566668               56876         307628
12                   10.36          794483               32699         605599
13                   12.69          297795               48484         178644
14                   13.02          246169                8997         230452
15                   19.65          317078               10916         402921
16                    0.01          232557                9893         212501
17                    6.63         2305279              126507        1877774
18                    5.29          883860               30391         417845
19                    2.92          603221               28499         610033
20                   14.79          207536                7261         229277
21                   19.32         1345447               69513         700557
22                   22.55          965445               46110         719792
23                   20.93         1865707              147823        1037097
24                   21.15         1444013               89275         817528
25                   20.72          161161               12283         135904
26                   12.59         1008288               71644         569442

    Non_Workers  Percentage_Non_Workers  Number_of_households  \
0       1780263                   50.98                813797
1       2709911                   70.76                695906
2       1679767                   51.75                729110
3       2274845                   50.95               1077303
4       1862942                   51.17                779052
5         17197                   44.18                  8294
6        570915                   63.03                168619
7       1889428                   62.08                522728
8        306501                   52.27                118828
9        560213                   62.20                206465
10      1941430                   67.86                561945
11       450945                   59.45                164129
12       977626                   61.75                320588
13       289767                   61.86                 92593
14       230435                   50.00                 87029
15       632543                   61.09                174264
16       437892                   67.33                 87052
17      2336731                   55.44                789164
18       786233                   65.30                225252
19       701676                   53.49                245421
20       330218                   59.02                 96898
21      1403454                   66.70                366025
22      1069631                   59.78                303107
23      1717659                   62.35                633033
24      2079335                   71.78                456015
25       159109                   53.93                 55558
26      1039730                   64.61                318737

    Scheduled_Tribe_population  Percentage_to_total_population_ST  Urbal_Area  \
0                        90636                               2.60           0
1                        34560                               0.90           1
2                       457679                              14.10           1
3                       208157                               4.66           1
4                       127161                               3.49           0
5                        29191                              74.99           1
6                       304985                              33.67           0
7                        44912                               1.48           0
8                       260040                              44.35           0
9                            0                               0.00           0
10                           0                               0.00           1
11                         281                               0.04           1
12                      130138                               8.22           1
13                           0                               0.00           0
14                      117569                              25.51           0
15                      158959                              15.35           0
16                       51753                               7.96           0
17                      243451                               5.78           0
18                       30338                               2.52           1
19                      859574                              65.53           0
20                      120482                              21.53           1
21                           0                               0.00           0
22                       14744                               0.82           0
23                       37858                               1.37           0
24                         498                               0.02           1
25                        2685                               0.91           1
26                      204167                              12.69           1

    Economical_Status  Below_Poverty_Line_Status
0                   1                          1
1                   0                          0
2                   1                          1
3                   1                          0
4                   1                          1
5                   1                          1
6                   1                          1
7                   1                          1
8                   1                          1
9                   0                          0
10                  0                          0
11                  0                          0
12                  0                          0
13                  1                          1
14                  1                          1
15                  1                          1
16                  1                          1
17                  1                          1
18                  1                          1
19                  1                          1
20                  1                          1
21                  0                          0
22                  1                          1
23                  1                          1
24                  1                          1
25                  0                          0
26                  1                          1

In [53]:
#4. fill all the missing values in the dataset  if any as below:
df['Scheduled_Caste_population'].fillna(df['Scheduled_Caste_population'].mode()[0], inplace=True)
df['Percentage_SC_to_total'].fillna(df['Percentage_SC_to_total'].mode()[0], inplace=True)

In [56]:
#3. re-Check missing values in the dataframe:
df.apply(lambda x: sum(x.isnull()),axis=0)

Persons                              0
Growth_1991_2001                     0
Scheduled_Caste_population           0
Percentage_SC_to_total               0
Total_Educated                       0
Graduate_and_Above                   0
Total_workers                        0
Non_Workers                          0
Percentage_Non_Workers               0
Number_of_households                 0
Scheduled_Tribe_population           0
Percentage_to_total_population_ST    0
Urbal_Area                           0
Economical_Status                    0
Below_Poverty_Line_Status            0
dtype: int64

In [57]:
#4. Building a Predictive Model in Python using Nueral networks - kerasRegressor

#Standard processing and Training/Test set Split
#X = df.loc[:, df.columns != "Percentage_SC_to_total"]
#Y = df.loc[:, "Percentage_SC_to_total"]
#x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size=0.3, random_state=7)

dataset = df.values

X = dataset[:,0:13]
Y = dataset[:,13]

In [59]:
#5A. Generic function for making a cnn baseline model 

# define base model
def baseline_model():
    # create model
    model = Sequential()
    model.add(Dense(13, input_dim=13, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    # Compile model
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

In [60]:
#1. Regression Example With Dataset: Baseline
# evaluate model
estimator = KerasRegressor(build_fn=baseline_model, epochs=100, batch_size=5, verbose=0)
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, X, Y, cv=kfold)
print("Baseline: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Baseline: -362071.52 (506303.57) MSE

In [61]:
#2. Regression Example With Dataset: Standardized
# evaluate model with standardized dataset
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasRegressor(build_fn=baseline_model, epochs=50, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
kfold = KFold(n_splits=10)
results = cross_val_score(pipeline, X, Y, cv=kfold)
print("Standardized: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Standardized: -0.24 (0.18) MSE

In [62]:
#4. Tune The Neural Network Topology - 
#4.1 Evaluate a Deeper Network Topology
#One way to improve the performance a neural network is to add more layers.  ( from:  13 inputs -> [13 -> 6] -> 1 output)

# Regression Example With Boston Dataset: Standardized and Larger
# define the model
def larger_model():
    # create model
    model = Sequential()
    model.add(Dense(13, input_dim=13, kernel_initializer='normal', activation='relu'))
    model.add(Dense(6, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    # Compile model
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

In [63]:
#3. evaluate model with standardized dataset
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasRegressor(build_fn=larger_model, epochs=50, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
kfold = KFold(n_splits=10)
results = cross_val_score(pipeline, X, Y, cv=kfold)
print("Larger: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Larger: -0.23 (0.15) MSE

In [64]:
#  Regression Example With Boston Dataset: Standardized and Wider
#Evaluate a Wider Network Topology

# define wider model
def wider_model():
    # create model
    model = Sequential()
    model.add(Dense(20, input_dim=13, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, kernel_initializer='normal'))
    # Compile model
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

In [65]:
#4. evaluate model with standardized dataset
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasRegressor(build_fn=wider_model, epochs=100, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
kfold = KFold(n_splits=10)
results = cross_val_score(pipeline, X, Y, cv=kfold)
print("Wider: %.2f (%.2f) MSE" % (results.mean(), results.std()))

#the model further drop in error to about 36, so this is not a bad result for this problem.

Wider: -0.35 (0.29) MSE